---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Page from '../components/Page.astro'
import Tooltip from '../components/Tooltip.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Gange gang</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <Header />

    <Page color='rgb(58, 255, 80)'>
      <Tooltip>
        <h1 class='title' slot='content'>Gange Gang</h1>
        <p slot='tooltip'>
          <img src='/images/daedon.png' alt='Daedong' width='256' />
        </p>
      </Tooltip>
    </Page>

    <Page color='rgb(58, 81, 255)'>
      <h1 class='title'>Gange Gang</h1>
    </Page>

    <Page color='rgb(255, 58, 58)'>
      <h1 class='title'>Gange Gang</h1>
    </Page>

    <Footer />
  </body>
</html>

<style>
  * {
    font-family: 'Lato', sans-serif;
    user-select: none;
  }

  body {
    margin: 0;
  }

  h1.title {
    animation: enter 1s ease;
    color: white;
    font-size: 5rem;
  }

  @keyframes enter {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 1;
      transform: translate(0);
    }
  }
</style>
